window#waybar {
    border-radius: 0px;
}

#workspaces button {
    background-color: alpha(@surface1, 0.4);
    border-bottom: 3px solid transparent;
}

#workspaces button:hover {
    background-color: alpha(@surface1, 0.7);
    border-bottom-color: alpha(@subtext0, 0.5);
}

#workspaces button.active {
    background-color: alpha(@surface1, 0.9);
}

#workspaces button.active:nth-child(1) {
    border-bottom-color: @ws-1;
}
#workspaces button.active:nth-child(2) {
    border-bottom-color: @ws-2;
}
#workspaces button.active:nth-child(3) {
    border-bottom-color: @ws-3;
}
#workspaces button.active:nth-child(4) {
    border-bottom-color: @ws-4;
}
#workspaces button.active:nth-child(5) {
    border-bottom-color: @ws-5;
}
#workspaces button.active:nth-child(6) {
    border-bottom-color: @ws-6;
}
#workspaces button.active:nth-child(7) {
    border-bottom-color: @ws-7;
}
#workspaces button.active:nth-child(8) {
    border-bottom-color: @ws-8;
}
#workspaces button.active:nth-child(9) {
    border-bottom-color: @ws-9;
}
#workspaces button.active:nth-child(n + 10) {
    border-bottom-color: @ws-10;
}

#custom-menu:hover {
    color: @text;
}

#mpris {
    background-color: alpha(@surface1, 0.4);
}
#mpris:hover {
    background-color: alpha(@surface1, 0.7);
}

#custom-power:hover {
    color: @red;
}
